<h1>Listing sessions</h1>

<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Description</th>
      <th>Is keynote</th>
      <th>Is panel</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.topic %></td>
        <td><%= session.description %></td>
        <td><%= session.is_keynote %></td>
        <td><%= session.is_panel %></td>
        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>
