<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @session.topic %>
</p>

<p>
  <strong>Description:</strong>
  <%= @session.description %>
</p>

<p>
  <strong>Is keynote:</strong>
  <%= @session.is_keynote %>
</p>

<p>
  <strong>Is panel:</strong>
  <%= @session.is_panel %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
